$secondary: #7d8fb3;
$dark-gray: #4d5e80;

$light-gray: #c3cad9;

.my-agents-wrapper {
  width: 100%;
  background-color: white;
  border-top-right-radius: 10px;
  padding: 20px 10px;
  position: relative;

  > h2 {
    font-weight: 700;
    margin-left: 20px;
    color: #1b1f26b8;
    margin-bottom: 8px;
  }
}

.my-agents-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0 30px;

  .agents-scroll-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    overflow-x: auto;
    padding: 10px 0 0;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .agent-col {
    width: 230px;
    height: auto;
    flex-shrink: 0;
    margin: 0 2px;
    text-align: center;
    border-radius: 10px;
    border: 3px solid transparent;
    .agent-card {
      width: 100%;
    }
    &.inactive {
      opacity: 0.4;
    }
    &.dimmed {
      border: 3px solid #1890ff;
    }
    .ant-card-body {
      padding: 12px;
    }
    .ant-card-cover {
      height: 80px;
    }
    .ant-card-cover > img {
      width: 100%;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 100%;
      object-fit: cover;
    }
  }
}

.task-sider-wrapper {
  background-color: #f7f8fa;
  margin-left: 20px;
  width: 400px;
  position: relative;
  .task-card {
    height: auto;
    position: sticky;
    top: 20px;
  }
}
.task-block {
  margin-bottom: 20px;
  h5 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    color: $secondary;
  }
  ul {
    padding-left: 10px;
    margin: 10px 0;
    list-style-position: inside;
  }
  li {
    color: $dark-gray;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    vertical-align: auto;
    &::marker {
      color: $light-gray;
    }
    margin: 6px 0;
  }
  .prompt-content {
    color: $dark-gray;
    font-family: Roboto;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 12px;
    text-align: left;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
  }

  .prompt-date {
    color: $secondary;
  }

  .btn-show-more {
    background-color: white;
    padding: 5px 10px;
    color: $secondary;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px #26334d08;
    border: 2px solid #f5f6f7;
  }
}
