$secondary: #7d8fb3;
$dark-gray: #4d5e80;

$light-gray: #c3cad9;

.content {
  margin: 20px 20px;
}

.layout-router {
  min-height: 100vh;
}
.layout {
  background-color: #f7f8fa;
}
.header {
  background-color: white;
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    #123280 0%,
    #123280 20%,
    #46a836 20%,
    #46a836 25%,
    #e6ecf5 25%,
    #e6ecf5 100%
  );
  width: 100%;
  padding: 0px 20px;
  position: relative;
}
.task-sider {
  background-color: #f7f8fa;
  padding: 0px 0px 0px 20px;
}

.arrow-button {
  font-size: 24px;
  color: #1890ff;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.2s;
}
.arrow-button:hover {
  color: #0b76b7;
}
.arrow-button-wrapper.left {
  margin-right: 5px;
}

.arrow-button-wrapper.right {
  margin-left: 5px;
}
.arrow-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  background-color: transparent;
}
.arrow-button {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #3b82f6;
  box-shadow: none;
  width: 30px;
  transition: color 0.2s;

  &:hover:not(:disabled) {
    color: #1e40af; /* Darker shade on hover */
  }

  &:disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  &.left {
    margin-right: 10px;
  }

  &.right {
    margin-left: 10px;
  }
}

.custom-sider {
  background-color: #f7f8fa;
}
.menu-wrapper {
  background-color: #f7f8fa;
  padding: 24px 0px 0px 20px;
  width: 100%;

  > h1 {
    font-size: 1.6rem;
    padding-left: 12px;
    margin-bottom: 14px;
    color: $secondary;
  }

  //ant-menu
  .custom-menu {
    color: $secondary;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    border-right: none;
    .ant-menu-inline {
      background-color: #ffff;
    }
    .ant-menu-item,
    .ant-menu-submenu-title,
    .ant-menu-title-content {
      color: inherit;
    }

    .ant-menu-item-selected,
    .ant-menu-submenu-selected > .ant-menu-submenu-title {
      color: #3361ff !important;
    }
  }
}
